body {
	background-color: #00FF00;
}

h1 {

	font-family: 'Inknut Antiqua', serif;
	text-align: center;
}

h2 {
	font-family: 'Ravi Prakash', cursive;
	text-align: center;
}
h3 {
	text-align: center;
}
